@font-face {
    font-family: "Medieval";
    src: url(../fonts/MedievalSharp/MedievalSharp-Regular.ttf);
}


@font-face {
    font-family: "Gothic";
    src: url(../fonts/Gothic_A1/GothicA1-Regular.ttf);
}

@font-face {
    font-family: "Gothic thin";
    src: url(../fonts/Gothic_A1/GothicA1-Thin.ttf);
}

* {
    box-sizing: border-box;
}
.container{
    margin: 0;
    padding: 0 8rem 0 8rem;
    max-width: 100%
}
body {
    margin: 0 auto;
    background-image: url(../img/smoke-bg.jpg);
}

section:not(:first-child) {
    margin-top: 6rem;
}

h1, h2, h3, h4, h5{
    font-family: "Medieval";
    text-transform: uppercase;
    color: #ddc9a7;
    font-size: 1.6rem;
}

h1, h2, h3, h4 {
    font-size: 2rem;    
}

p {
    font-family: "Gothic";
    color: white;
    font-size: 1.3rem;
}

a {
    font-family: "Medieval";
    text-decoration: none;
    color: #ddc9a7;
}

.btn {
    border-radius: 10px;
}

.btn-primary {
    color: black;
    background-color: #ddc9a7;
    padding: 10px 16px;
    border: #ddc9a7 solid 1px;
    margin: 0;
}

.btn-primary:hover {
    color: #ddc9a7;
    background-color: rgba(0, 0, 0, 0.055);
    transition: 0.2s;
}

li {
    list-style: none;
}

/* debut header */

.header__wrapper {
    background-image: url(../img/cloud-header.png);
    background-size: 100%;
    background-repeat: no-repeat;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.menu {
    display: flex;
    gap: 1.5rem;
}

.nav-header img {
    width: 15%;
}

/* Hero */
#background-video {
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.hero {
    width: 100%;
    height: 100vh;
}
.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translatey(-15rem);
}

.btn-secondary {
    padding: 0px 2rem;
    border: solid 1px #ddc9a7;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.003);
    backdrop-filter: blur(10px);
}

.btn-secondary h2 {
    color: white;
}
/* awards */

.bgrace {
    width: 100%;
    z-index: -1;
} 
.award-race {
    display: flex;
    justify-content: center;
    align-items: center;
}

.awards__wrapper {
    background-image: url(../img/awards-bg.png);
    background-size: cover;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid 1px #ddc9a7;
    border-radius: 10px;
    z-index: 1;
    max-width: 60%;
    padding: 0 20px;
}

.bgaward h3 {
    margin-top: 0;
}
.bgaward p {
    margin-bottom: 0;
}
.awards__wrapper img {
    width: 15%;
    height: 15%;
    object-fit: cover;
}

/* Race */

.race-presentation {
    width: 100%;
    margin-top: 6rem;
}

.races__wrapper {
    width: 100%;
    display: flex;
    gap: 6rem;
}

.race {
    background-image: url(../img/races-bg.jpg);
    background-size: cover;
    border: #ddc9a7 1px solid;
    border-radius: 10px;
    padding: 2rem 6rem;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.logo p {
    margin-top: 0;
    font-family: "Medieval";
    font-size: 1.5rem;
}

.logo img {
    width: 7rem;
}

.elfsolo { 
    border: #ddc9a7 1px solid;
    border-radius: 10px;
    width: 50%;
    text-align: center;
    padding: 2rem 4rem;
    position: relative;
}

.elfsolo p {
    margin-top: 6rem;
    color: #ddc9a7;
}
.elfsolo img {
    width: 7rem;
}

.arrow {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.arrow .img-left {
    width: 15px;
}

.img-right-wrapper img{
    width: 10px;
    clip-path: inset(0 45% 0 0);  
}

.border-arrow {
    border: #ddc9a7 solid 1px;
    width: 50%;
}
.border-elf {
    border: #ddc9a7 solid 1px;
}

/* Buy now section */

.buy__wrapper {
    background-image: url(../img/buy-now-background.jpg);
    background-size: cover;
    width: 100%;
    display: flex;
}

.buy__wrapper img {
    width: 100%;
    margin: 6rem;
}

.buy-content {
    display: flex;
    flex-direction: column;
    margin-top: 15rem;
}

.buy-content h3 {
    margin: 0;
}
.buy__wrapper ul {
    display: flex;
    justify-content: start;
    gap: 0.5rem;
    margin-left: -2.5rem;
}

.btn-tertiary {
    padding: 8px 10px;
    border: #ddc9a7 solid 1px;
    border-radius: 10px;
    color: white;
}

.buy__wrapper .text {
    font-family: "Gothic thin";
}

/* New's & update */

.update__wrapper {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.update__wrapper h3{
    margin-top: 0;
}
.updates {
    display: flex;
    justify-content: center;
    gap: 3rem;
    width: 100%;
}

.update {
    width: 33%;
    border: #ddc9a7 solid 1px;
    border-radius: 10px;
    padding: 2rem 2rem;
    background-size: cover;
    position: relative;
    overflow: auto;
}

.update2 {
    background-image: url(../img/news-1.jpg);
}

.update1 {
    background-image: url(../img/news-2.jpg);
}

.ps5 {
    background-image: url(../img/news-3.jpg);
}

.content {
    position: relative;
    z-index: 1;
}
.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    transform: translate(-2rem, -2rem);
    width: 100%;
    height: 100%;
    z-index: 0;
}

/* Gallery */

.gallery .text {
    text-align: right;
}

.gallery .text h3 {
    margin-top: 0;
}
.images {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    width: 100%;
}

.images img {
    width: 24%;
    object-fit: cover;
    border-radius: 10px;
}

/* Downloads */

.cta__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 60vh;
}

.cta-content {
    padding: 4rem 4rem;
    width: 75%;
    height: 90%;
    border: #ddc9a7 solid 1px;
    border-radius: 10px;
    background-image: url(../img/cta-bg.png);
    background-size: cover;
}

.cta-content .text {
    width: 50%;
    margin-bottom: 3rem;
}
.cta-content .btn-tertiary {
    padding: 12px 20px;
}

/* Footer */

.media__wrapper {
    margin-top: 6rem;
}
.menu-social {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 4rem;
}

footer .border {
    width: 100%;
    border: #ddc9a7 solid 1px;
}

.text-social {
    display: flex;
    flex-direction: column;
    width: 35%;
}

.text-social h3 {
    margin: 0;
}

.list-footer {
    display: flex;
    align-content: center;
    gap: 6rem;
}
.list-footer h5 {
    margin-bottom: 1rem;
}
.list-footer a {
    font-family: "Gothic";
}
.list-footer li {
    margin-bottom: 0.5rem;
}

.footer-menu__wrapper {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 2rem;
}
